[Desktop Entry]
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
TryExec=/home/max/Telegram/Telegram
Exec=/home/max/Telegram/Telegram -- %u
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true
X-XFCE-Source=file:///home/max/.local/share/applications/org.telegram.desktop._5a73730d083f35e075490dc9e1d7d346.desktop

[Desktop Action quit]
Exec=/home/max/Telegram/Telegram -quit
Name=Quit Telegram
Icon=application-exit
