(
    selected_tab: Rgb(255, 255, 255),
    selection_bg: Rgb(0, 1, 10),
    selection_fg: Rgb(255, 255, 255),
    disabled_fg:  White,
    cmdbar_bg: Black,

    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,

    commit_hash: Magenta,
    commit_time: LightCyan,
    commit_author: Green,

    command_fg: White,
    cmdbar_extra_lines_bg: Black,
    danger_fg: Red,
    push_gauge_bg: Black,
    push_gauge_fg: Reset,
    tag_fg: LightMagenta,
    branch_fg: LightYellow,
)
